doctype strict
head
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  title Google Books Embedded Viewer API Example
  script(type='text/javascript' src='https://www.google.com/books/jsapi.js')
.row
  h1 Weird Old Book Finder
  h2 #{headline}

.row
  <form method="POST" action="/bookMe">
  <input type="text" name="searchText" value="''"><br>
  <input type="submit" value="Submit">
</form> 


//  form(method='POST' action='/bookMe' )
  .theForm
    | title: 
    input(type='text' name='searchText' value='')
    // input (type='submit' value='Submit')
    button.btn.btn-primary(type='button' value='Submit') Submit


//.row
  //#viewerCanvas(style='width: 700px; height: 800px')
  // #viewer 
  
  
// send in the clowns, sorry i mean the javascript
script(defer='').

  /*
  // load our variables 
  var theBook = "#{bookRetrieved}";
  console.log(theBook);
  // create an instance of the google books viewer
  google.books.load();
  
  // create a selector for the button 
  const buttonPushed = document.querySelector("#searchButton");
  
  // the initializer that gets a book viewer displayed
  function initialize() {
    var viewer = new google.books.DefaultViewer(
    document.getElementById("viewerCanvas")
    );
    // here's where we specify which book to display
    viewer.load(theBook);
  }
  
  // when the page loads, run the initializer
  google.books.setOnLoadCallback(initialize);
  
  
  
  /*
  // if the button is pushed, grab the search term and send it to the server
  buttonPushed.addEventListener("click", function (e) {
    const searchValue = document.querySelector("#searchText").value;
    document.getElementById("searchText").value = "";
    let searchTerm = searchValue.replace(/ /g, "+");
    runSearch(searchTerm);
  });
  
  function runSearch(searchTerm) {
    console.log("yeah bruh the term I got was " + searchTerm);
    let url =
    "https://weird-old-book-finder.glitch.me/bookMe?words=" + searchTerm;
    console.log("I'm gonna send the url query ... " + url);
    fetch(url)
    .then(function (response) {
      return response.text();
      })
    .then(function (text) {
    console.log(text);
    var viewer = new google.books.DefaultViewer(
    document.getElementById("viewerCanvas")
    );
    viewer.load(text);
    });
  }
  */

