doctype strict
head
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  title Weird Old Book Finder
  script(type='text/javascript' src='https://www.google.com/books/jsapi.js')
  link(rel="stylesheet" href="style.css")
  link(href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet")

body
.row
  h1 Weird Old Book Finder
// couldn't get this form below working in pug, so I wrote in using regular HTML, like
// an *animal*
.row
  <form method="POST" action="/">
  <input type="text" class="textInput" name="searchText" value=""><br>
  <input type="submit" value="Submit">
</form> 

.row
  #viewerCanvas
  #viewer 
  
  
// send in the clowns, sorry i mean the javascript
script(defer='').

  // load our variables 
  var theBook = "#{bookRetrieved}";
  var success = #{success};
  console.log(success);
  console.log(theBook);
  // create an instance of the google books viewer
  google.books.load();
  
  // create a selector for the button 
  const buttonPushed = document.querySelector("#searchButton");
  
  // the initializer that gets a book viewer displayed
  function initialize() {
    var viewer = new google.books.DefaultViewer(
    document.getElementById("viewerCanvas")
    );
    // here's where we specify which book to display
    viewer.load(theBook);
  }
  
  // when the page loads, run the initializer
  google.books.setOnLoadCallback(initialize);
  
   if (!success) {
    alert("Alas, I couldn't find any weird old books matching your search query.");
  }
  
  
  
  