doctype strict
head
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  title Google Books Embedded Viewer API Example
  script(type='text/javascript' src='https://www.google.com/books/jsapi.js')
.row
  h1 Weird Old Book Finder
  h2 #{headline}
.row
  input#searchText(type='text')
  button#searchButton(type='button') Search
.row
  #viewerCanvas(style='width: 700px; height: 800px')
  #viewer
// send in the clowns, sorry i mean the javascript
script(defer='').

  // create an instance of the google books viewer
  google.books.load();
  
  // when the button is 
  const buttonPushed = document.querySelector("#searchButton");
  function initialize() {
    var viewer = new google.books.DefaultViewer(
    document.getElementById("viewerCanvas")
    );
    viewer.load("xyYoAAAAYAAJ");
  }
  google.books.setOnLoadCallback(initialize);
  
  buttonPushed.addEventListener("click", function (e) {
    const searchValue = document.querySelector("#searchText").value;
    document.getElementById("searchText").value = "";
    let searchTerm = searchValue.replace(/ /g, "+");
    runSearch(searchTerm);
  });
  
  function runSearch(searchTerm) {
    console.log("yeah bruh the term I got was " + searchTerm);
    let url =
    "https://weird-old-book-finder.glitch.me/bookMe?words=" + searchTerm;
    console.log("I'm gonna send the url query ... " + url);
    fetch(url)
    .then(function (response) {
      return response.text();
      })
    .then(function (text) {
    console.log(text);
    var viewer = new google.books.DefaultViewer(
    document.getElementById("viewerCanvas")
    );
    viewer.load(text);
    });
  }
