h1 {
  font-family: "IM Fell English", serif;
  font-size: 6vw;
  margin-left: -2vw;
}

.formStuff {
  margin-bottom: 2vh;
  margin-left: -2vw;
}

#viewerCanvas {
  width: 80vw;
  height: 80vh;
}

body {
  margin-top: 3vh;
  margin-left: 10vw;
  background-color: yellow;
}

input[type="text"] {
  border-radius: 5px;
  max-height: 5px;
}

