

h1 {
  font-family: 'IM Fell English', serif;
}

.header {
  /* background-color: grey; */
}

#formGroup {
  /* background-color: green; */
}

#viewerCanvas {
  width: 700px;
  height: 700px;
}

body {
  margin-top: 3vh;
  margin-left: 2vw;
}