h1 {
  font-family: "IM Fell English", serif;
  font-size: 6vw;
  margin-left: -2vw;
}

.formStuff {
  margin-bottom: 2vh;
  margin-left: -2vw;
}

#viewerCanvas {
  width: 80vw;
  height: 80vh;
}

body {
  margin-top: 3vh;
  margin-left: 10vw;
  /*( background-color: rgb(237, 237, 237) */
  background-image: url("https://cdn.glitch.global/439f4142-99cc-4745-a422-a9dc2b1d9a6b/noisy-texture-100x100-grey.png?1642704308971");
}

input[type="text"] {
  border-radius: 5px;
  max-height: 5px;
}
